@import 'reset.scss'; @import 'variables.scss';

body {
    background-color: rgb(25, 34, 155);
    overflow-x: hidden;
}

.bg-top-bottom{
    margin: -6px;
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: -80px 0;
}

.main-left {
    display: flex;
    flex-direction: column;
    row-gap: 30px;

    .title-left {
        color: $title;
        font-weight: 700;
        letter-spacing: 4px;
        font-size: 2.5em;
        margin-left: 10px;
    }

    .clock {

        .menu {
            display: flex;
            justify-content: space-around;

            p{
                color: $light-grey;
                font-weight: 500;
                font-size: 0.9em;
            }
        }

            #time {
                margin-left: 14px;
                color: $time;
                font-size: 4.7em;
            }
        }
        h3 {
            color: $text-color;
            font-size: 1em;
            font-weight: 400;
            text-align: center;

        }

        .subscribe {
            width: 30%;
            margin: 0 auto;
            font-size: 1em;
            padding: 12px 0;
            background-color: #8e32f7;
            color: rgba(255, 255, 255, 0.856);
            border-radius: 10px;
            border: none;
            cursor: pointer;
            box-shadow: 5px 8px 20px rgba(0, 0, 0, 0.342);
            transition:all linear 0.30s;

            &:hover {
                background-color: $title;
                color: #8e32f7;
                transform: scale(1.05);
                font-weight: 500;
            }
        }
    }

.main-right {
    img {
        cursor: pointer;
        transition: all linear 0.35s;

        &:hover {
            transform: scale(1.1);
        }
    }
}

